*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial", sans-serif ;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul .input1{
    border: 1.5px solid #ccc;
    background-color: rgb(8, 167, 167);
    border-radius: 3px;
    color: #111;
    text-decoration: none;
    font-size: 16px;
    margin: 3px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    top: 50%;
    left: 0;
    justify-content: center;
    align-items: center;
}
#center1{
    position: relative;
    display: inline;
}
#center2{
    position: relative;
    display: flex;
    padding-top: 5px;
    padding-left: 5px;
}
.divlogoandsearchbar{
    display: inline;
    left: 0;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
#logo{
    display: flex;
    position: relative;
    width: 1000px;
}
#searchbar{
    display: flex;
    position: relative;
    padding-left: 10px;
    height: 20px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}
.center2{
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
.layout1{
    justify-items: flex-end;
    text-align: end;
    align-items: flex-end;
}